<%- include ../layout/head.ejs %>

    <body>
        <%- include ../layout/header.ejs %>
            <main>
                <div id="scoreCard">
                    <h4>Points: test points
                    </h4>
                </div>
                <div id="questionCard">
                    <h2 id="challengeText">your picture challenge:</h2>
                    <h3>
                        <%=item%>
                    </h3>
                </div>
                <div id="photoinput">
                    <form action="/result" method="POST" enctype="multipart/form-data">
                        <input class="file-input" type="file" name="image" accept="image/*">
                        <button id="savePhoto">Save Photo</button>
                    </form>
                </div>
                <div id="photoInputPlaceholder">
                    <h6>Take a Photo</h6>
                </div>
                <div id="savePhotoPlaceholder">
                    <h6>Check Your Photo</h6>
                </div>
                <%- include ../layout/footer.ejs %>
            </main>
            <script>
                $("#savePhoto").change(function() {
                    $("#savePhotoPlaceholder").css("background-color", "red");
                });
            </script>
    </body>

    </html>