<%- include ../layout/head.ejs %>

    <body>
        <%- include ../layout/header.ejs %>
            <main>
                <h1>pict<b>o</b>hunt</h1>
                <p>A scavenger game to play around the town. Snap a pic of whatever we tell you to. Submit the picture. Get points</p>
                <form action="/pictostart" method = "POST">
                    <div class="centered">
                        <div class="group">
                            <input type="text" id="name" name="ugh" required="required" />
                            <label for="ugh">enter your name</label>
                            <div class="bar"></div>
                        </div>
                    </div>
                </form>
                <%- include ../layout/footer.ejs %>
            </main>


    </body>

    </html>