<%- include ../layout/head.ejs %>

    <body>
        <%- include ../layout/nav.ejs %>
            <main>
                <form>
                    <input type="text" id="nameInput" />
                </form>
            </main>

    </body>

    </html>