<%- include ../layout/head.ejs %>

    <body>
        <%- include ../layout/header.ejs %>
            <main>
                <h1>pict<b>o</b>hunt</h1>
                <p>A scavenger game to play around town. Snap a pic, submit, get points. Enter your name to begin...</p>
                <form action="/pictostart" method="POST">
                    <div class="centered">
                        <div class="group">
                            <input type="text" id="name" name="name" required="required" />
                            <label for="name">username</label>
                            <div class="bar"></div>
                        </div>
                    </div>
                </form>
                <%- include ../layout/footer.ejs %>
            </main>


    </body>

    </html>