<%- include ../layout/head.ejs %>

    <body>
        <%- include ../layout/header.ejs %>
            <main>
                <div id="instructionCard">
                    <h3>How to Play</h3>
                    
                        <p>Enter your name to play.</p>
                        <p>Find the object from your picture challenge.</p>
                        <p>Press the "Take a Photo" button to open the camera.</p>
                        <p>Make sure your object fills 80% of the screen.</p>
                        <p>Take photo in a well lit area.</p>
                        <p>Press "Submit" button to see if you took a photo of the correct object.</p>
                        <p>Look at the top, the game will tell you if the photo you took is a match or not.</p>
                        <p>If it is a match, 200 points will be added to your score.</p>
                        <p>If it is not a match, you play again by clicking the "play again" button.</p>
                        <p>If you believe your photo is a match and the game says it is not, please try a different angle of the object and resubmit.</p>
                        <p>IF you would like to save your photo, hold down on image and click "Save to Library." </p>
                    
                </div>
                <%- include ../layout/footer.ejs %>
            </main>

    </body>

</html>