<%- include ../layout/head.ejs %>

    <body>
        <%- include ../layout/header.ejs %>
            <main>
                <div id="scoreCard">
                    <h4>Points: test points
                    </h4>
                </div>
                <div id="resultCard">

                </div>
                <%- include ../layout/footer.ejs %>
            </main>

    </body>

    </html>