/* cool code from https://codepen.io/kylelavery88/pen/adbzLQ */

.centered {
    width: 70%;
    height: 110px;
    margin: auto;
}

.group {
    width: 100%;
    height: 110px;
    overflow: hidden;
    position: relative;
}

label {
    position: absolute;
    top: 36.6666666667px;
    color: rgba(255, 255, 255, 0.5);
    font: 400 28px 'Poiret One';
    cursor: text;
    transition: .25s ease;
}

input {
    display: block;
    width: 100%;
    padding-top: 36.6666666667px;
    border: none;
    border-radius: 0;
    color: white;
    background: transparent;
    font-size: 36.6666666667px;
    transition: .3s ease;
}

input:valid~label {
    top: 0;
    font: 700 22px 'Poiret One';
    color: rgba(255, 255, 255, 0.5);
}

input:focus {
    outline: none;
}

input:focus~label {
    top: 0;
    font: 700 22px 'Poiret One';
    color: #2196f3;
}

input:focus~.bar:before {
    transform: translateX(0);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #333 inset;
    -webkit-text-fill-color: white !important;
}

.bar {
    background: rgba(255, 255, 255, 0.5);
    content: '';
    width: 550px;
    height: 3.6666666667px;
    transition: .3s ease;
    position: relative;
}

.bar:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 150%;
    background: #2196f3;
    transform: translateX(-100%);
}

 ::selection {
    background: rgba(33, 150, 243, 0.3);
}

#footer {
    width: 80%;
    float: left;
    position: fixed;
    bottom: 1.3em;
    margin: auto;
    text-align: center;
    color: #ededed;
    margin-left: 10%;
    z-index: -2;
}

.bar2 {
    background: rgba(255, 255, 255, 0.5);
    content: '';
    width: 100%;
    height: 2px;
    position: relative;
    margin-bottom: 10px;
}

.social {
    position: relative;
    height: 1.7em;
    width: 1.7em;
}

#challengeText {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 3em;
    text-align: center;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 3em;
    margin-top: 30px;
}

h4 {
    position: relative;
    float: left;
    padding-left: 15%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ededed;
    font-weight: 80;
    font-size: 2em;
}

h5 {
    margin-bottom: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}

h6 {
    line-height: 85px;
    text-align: center;
    font-size: 1.6em;
    font-weight: 200;
    letter-spacing: 0.05em;
}