<footer id="footer">
    <div class="bar2"></div>
    <h5>2019 Rooftop Collective&reg;</h5>
    <img class="social" src="images/iconfinder_facebook-01-01_3066961.png" />
    <img class="social" src="images/iconfinder_instagram-01-01_3066990.png" />
    <img class="social" src="images/iconfinder_twitter-01-01_3066980.png" />
</footer>