<!-- /\/\/\/\/\/\   NAVIGATION /\/\/\/\/\/\ -->

<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
        <a href="/">
            <li>Home</li>
        </a>
        <a href="/highscores">
            <li>High Scores</li>
        </a>
    </ul>
</div>

<div id="headerBar">
    <img id="favicon" src="/images/android-chrome-512x512.png" />
</div>


<!-- /\/\/\/\/\/\   Header With Logo /\/\/\/\/\/\ -->